<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">DiscoEvents</h1>

        <p class="lead">Sign up to add events to DiscoEvents mobile app. UNT engineering departments and sanctioned engineering clubs only. </p>

        <p class="lead"><%= link_to "Sign Up", new_user_path, :class => 'btn btn-lg btn-signup' %></p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <!-- Validation -->        
          <p>© 2017 Novus ~ <a href=
          "http://getbootstrap.com/">Bootstrap</a></p>
        </div>
      </div>
    </div>
</div>
</div>



<!--<h1>DiscoEvents</h1>
<p>
  This is the home page for DiscoEvents 
</p>

<%= link_to "Sign Up", new_user_path, :class => 'btn btn-lg btn-default' %>

<%= link_to "Log in", login_path, :class => 'btn btn-default' %>
-->
<!--<%= link_to "Events", index_path, :class => 'btn btn-default' %>
<%= link_to "New Event", new_event_path, :class => 'btn btn-default' %>
-->
